* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #9792e4;
  --color-secondary: #0084fd;
  --color-secondary-light: #b5ddff;
  --bp-sm: 576px;
  --bp-md: 768px;
  --bp-lg: 992px;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

.container {
  width: 964px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container-p-medium {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.container-p-large {
  padding-left: 4rem;
  padding-right: 4rem;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

img {
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
}

.col-1 {
  flex-basis: calc(100% / 3);
}

.col-2 {
  flex-basis: calc((100% / 3) * 2);
}

.col-3 {
  flex-basis: 100%;
}

.card {
  padding: 30px 20px;
  border-radius: 1rem;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-secondary-light {
  background-color: var(--color-secondary-light);
}

.bg-white {
  background-color: white;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-5 {
  padding-top: 5rem;
}

.p-05 {
  padding: 0.5rem;
}

.pl-30 {
  padding-left: 30px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-4rem {
  padding-bottom: 4rem;
}
.mb-20 {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}

.p-s {
  font-size: 0.8rem;
}
.p-xs {
  font-size: 0.6rem;
}

.fontsize-xxl {
  font-size: 5rem;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.menu a {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  color: white;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul li {
  list-style: none;
}

.menu .cta-btn {
  background-color: white;
  color: black;
  padding: 10px;
  margin-left: 20px;
  border-radius: 50px;
}

.hamburger-menu {
  font-size: 1.5rem;
  color: white;
  display: none;
}
/* .menu {
  display: block;
} */

.hero-img {
  max-width: 68%;
  position: relative;
  bottom: -35px;
  right: -33px;
}

.btn {
  color: white;
  padding: 10px 40px;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
}

.btn i {
  padding-right: 5px;
}

.color-secondary {
  color: var(--color-secondary);
}

.color-primary {
  color: var(--color-primary);
}

.color-white {
  color: white;
}

.color-yellow {
  color: rgb(253, 193, 95);
}

.bg-black {
  background-color: rgb(51, 51, 51);
}

.pr-5 {
  padding-right: 5px;
}
.pl-5 {
  padding-left: 5px;
}

.line-height-30 {
  line-height: 30px;
}

.down-btn {
  background-color: var(--color-primary);
  color: black;
  font-size: 1.2rem;
  border-radius: 50%;
  padding: 10px 15px;
  display: inline-block;
}

.round-img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  height: 15%;
  width: 15%;
}

.align-center {
  align-items: center;
}

@media screen and (min-width: 992px) {
  .gap-2 {
    column-gap: 2rem;
  }
  .img-width-60 {
    max-width: 60%;
  }
  .img-width-50 {
    max-width: 50%;
  }
  .align-end {
    align-items: flex-end;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 768px;
  }

  .col-lg-half {
    flex-basis: 50%;
  }

  .col-2 .card {
    flex-direction: column;
  }

  .card {
    height: 100%;
  }

  .hero-img {
    max-width: 60%;
    position: relative;
    bottom: -35px;
    right: 0px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 534px;
  }

  .container-md-p-default {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-md-half {
    flex-basis: 50%;
  }

  .col-md-full {
    flex-basis: 100%;
  }
  .menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .container-sm-p-default {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-sm-half {
    flex-basis: 50%;
  }

  .col-sm-full {
    flex-basis: 100%;
  }
  .hero-img {
    max-width: 60%;
    position: relative;
    bottom: -35px;
    right: auto;
    left: auto;
  }
  .text-center-sm {
    text-align: center;
  }
  .flex-column-sm {
    flex-direction: column;
  }
  .px-1-sm {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .round-img {
    min-width: 100px;
  }
}
